{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="container-fluid">
  <h1>Mi Tienda: ({{ user.employee.tienda_vendedor_id }}) {{ user.employee.tienda_vendedor }}</h1>
  <h1>Últimas ofertas publicadas</h1>
  <div class="row">
      {% for producto in productos %}
      {% if producto.tienda.id == tiendas.id %}
      {% if producto.oferta == 'YES' %}
      <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title text-center card-offsale">{{ producto.nombre }}</h6>
           <img class="img" src='{{ producto.image.url }}' />
        </div>
      </div>
      </div>
      {% endif %}
      {% endif %}
      {% endfor %}
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="shop-topbar">
    filtro de productos
  </div>
  <div class="shop-product">
    <div class="grid-view">
      <div class="row">

        <!--- PRODUCT --->
        {% for producto in productos %}
        {% if producto.tienda.id == tiendas.id %}
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="single-product">
            <div class="product-img">
              <a href="{% url 'product' producto.pk %}">
                <img class="img" src='{{ producto.image.url }}' />
              </a>
            </div>
            {% if producto.oferta == 'YES' %}
            <div class="sticker">
              <span>SALE</span>
            </div>
            {% endif %}
            <div class="product-contents">
              <h4 class="product-name"><h1>{{ producto.nombre }}</h1></h4>
              <h5 class="product-brand">{{ producto.marca }}</h5>
              <div class="price-box">
                {% if producto.oferta == 'YES' %}
                <span class="price">$ {{ producto.precio_oferta|intcomma }}</span>
                <span class="old-price">$ {{ producto.precio_normal|intcomma }}</span>
                {% else %}
                <span class="price">$ {{ producto.precio_normal|intcomma }}</span>
                {% endif %}
                {% if producto.stock > 0 %}
                <div class="stock-ok"><i class="fas fa-check-circle"></i> Stock: {{ producto.stock }}</div>
                {% else %}
                <div class="stock-no"><i class="fas fa-times-circle"></i> No hay stock</div>
                {% endif %}
              </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <!--- END PRODUCT --->
  </div>
</div>
{% endblock content %}
